<style media="screen">
    .ms select {
        padding:0px 10px;height:24px;border:solid 1px #d2d2d2;margin-right:10px; background:#fafafa
    }
    .select {width:400px;}
    .text1{height:100px;}
</style>

<table width="900" border="0" cellspacing="0" cellpadding="0" class="table">

    <tr>
        <td class="td1" align="right">留言主题：</td>
        <td class="ms">
            <input type="text" name="zhuti" value="{$info['zhuti']|default=''}" class="inputt input" />
            （留言主题）
        </td>
    </tr>
    <tr>
        <td class="td1" align="right">客户姓名：</td>
        <td class="ms">
            <input type="text" name="title" value="{$info['title']|default=''}" class="inputt input" />
            （客户姓名）
        </td>
    </tr>
    <tr>
        <td class="td1" align="right">联系电话：</td>
        <td class="ms">
            <input type="text" name="tel" value="{$info['tel']|default=''}" class="inputt input" />
            （联系电话）
        </td>
    </tr>
    <tr>
        <td class="td1" align="right">内容：</td>
        <td class="ms">
            <textarea class="text1" name="content">{$info['content']|default=''}</textarea>
            （内容）
        </td>
    </tr>
</table>
