<extend name="Public/base" />
<block name="main">
	<section class="z-ban1 minw-1200" style="background: url({:thumb($CAT['image'],1920,449)}) center top no-repeat;">

	</section>
	<section class="ykuai_01 minw-1200">
	    <section class="ydivbg_01 minw-1200 pt40">
	            <section class="container auto fix mb100">
					<div class="address fl">当前位置：{:catpos($catid)}</div>
					<div class="navigation fr">
						<volist name=":get_category($CAT['pid'])" id="val">
							<a href="{$val['url']}" <eq name="key" value="$catid">class="on"</eq>>{$val['title']}</a>
						</volist>
					</div>
	            </section>
	            <section class="container auto">
					<div class="z-tit1 tc mb35">
				        {$CAT['title']}
				        <p class="text-case">{$CAT['english']}</p>
				        <img src="__IMG__/z_tb6.png" class="db auto" />
				    </div>
	                <div class="mb45">
						<volist name="list" id="val">
		                    <div class="yk_01 fix">
		                        <div class="ydiv_01 fl">
		                            {:date('d', $val['create_time'])}
		                            <span>{:date('Y-m', $val['create_time'])}</span>
		                        </div>
		                        <div class="ydiv_02 fr">
		                            <a href="{$val['url']}">{$val['title']}</a>
		                            {$val['description']}
		                        </div>
		                    </div>
						</volist>
						<notempty name="_page">
							<div class="pages">
								{$_page}
							</div>
						</notempty>
	                </div>
	            </section>
	    </section>
	</section>
	<include file="Public/footer" />
</block>
