<extend name="Public/base" />
<block name="css">
	<link rel="stylesheet" href="__CSS__common.css" />
    <link rel="stylesheet" href="__CSS__jquery.fullPage.css" type="text/css">
    <link rel="stylesheet" href="__CSS__style.css" />
</block>
<block name="js">
	<script src="__JS__jquery-1.9.1.min.js"></script>
	<script src="__JS__jquery.tagcanvas.js"></script>
    <script src="__JS__jquery.fullPage.js"></script>
    <script src="__JS__jquery.style.js"></script>
	<script type="text/javascript">
        $(document).ready(function() {
            $('#dowebok').fullpage({
                anchors: ['page1', 'page2', 'page3', 'page4'],
                menu: '#special-menu',
                verticalCentered: !1,
                onLeave: function(index, nextIndex, direction){
                    var leavingSection = $(this);


                    if(index == 3 && direction =='down'){
                        if($('.footer').hasClass('xz')){
                            return false;
                        }
                        else{
                            $('.footer').addClass('xz');
                            $('.light_ts').animate({'margin-top':'-370px'},500);
                            $('.footer').animate({bottom:'0px'},500);
                            return false;
                        }

                    }
                    else if(index == 3 && direction == 'up'){
                        if($('.footer').hasClass('xz')){

                            $('.light_ts').animate({'margin-top':'0px'},500);
                            $('.footer').animate({bottom:'-380px'},500,function(){
                                $('.footer').removeClass('xz');
                            });
                            return false;
                        }


                    }
                }
            });
            if( ! $('#myCanvas2').tagcanvas({
                        textColour : '#b4b4b4',
                        outlineThickness : 1,
                        maxSpeed : 0.03,
                        depth : 0.75
                    })) {
                // TagCanvas failed to load
                $('#myCanvasContainer').hide();
            }
        });
    </script>
</block>
<block name="main">
    <ul id="special-menu">
        <li data-menuanchor="page1" class="active"><a href="#page1">&nbsp;</a></li>
        <li data-menuanchor="page2"><a href="#page2">&nbsp;</a></li>
        <li data-menuanchor="page3"><a href="#page3">&nbsp;</a></li>
        <!--<li data-menuanchor="page6"><a href="#page6">&nbsp;</a></li>-->
    </ul>
    <div id="dowebok">
		<div class="section w-response-01">
			<div class="w-resp-02 rel">
				<div class="center-wrap">
					<div class="s-1 abs">
						<img src="__IMG__l_img-47.png" alt=""/>
					</div>
					<canvas width="1200" height="500" id="myCanvas2">
						<ul>
							<li><a href="javascript:;"><span class="f-01">您还在为您的网站一成不变  而感到烦恼吗？</span></a></li>
							<li><a href="javascript:;">页面形象  不统一？</a></li>
							<li><a href="javascript:;">三个后台   密码记不住？</a></li>
							<li><a href="javascript:;">三个网站内容  重复上传？</a></li>
							<li><a href="javascript:;">Pc，手机，pad三个后台,更新网站数据工作量大怎么办？</a></li>
							<li><a href="javascript:;">您还在为您的网站一成不变  而感到烦恼吗？</a></li>
						</ul>
					</canvas>
				</div>
			</div>
		</div>
        <div class="section w-response-03">
            <div class="center-wrap ovh">
                <div class="w-resp-01 mb15">
                    <img src="__IMG__l_img-15.png" alt=""/>
                </div>
                <div class="w-resp-02">
                    <ul>
                        <li class="rel">
                            <span class="icon abs"><img src="__IMG__l_img-29.png" alt=""/></span>
                            <div>
                                <h3 class="n">超速加载  拒绝等待</h3>
                                <p>便捷的加载速度，不需要长时间等待</p>
                            </div>
                        </li>
                        <li class="rel">
                            <span class="icon abs"><img src="__IMG__l_img-24.png" alt=""/></span>
                            <div>
                                <h3 class="n">超速加载  拒绝等待</h3>
                                <p>响应不同的浏览终端，pc、手机、pad打造专业的统一化、一体化互联网形象</p>
                            </div>
                        </li>
                        <li class="rel">
                            <span class="icon abs"><img src="__IMG__l_img-25.png" alt=""/></span>
                            <div>
                                <h3 class="n">超速加载  拒绝等待</h3>
                                <p>便捷的加载速度，不需要长时间等待</p>
                            </div>
                        </li>
                        <li class="rel">
                            <span class="icon abs"><img src="__IMG__l_img-26.png" alt=""/></span>
                            <div>
                                <h3 class="n">超速加载  拒绝等待</h3>
                                <p>便捷的加载速度，不需要长时间等待</p>
                            </div>
                        </li>
                        <li class="rel">
                            <span class="icon abs"><img src="__IMG__l_img-27.png" alt=""/></span>
                            <div>
                                <h3 class="n">超速加载  拒绝等待</h3>
                                <p>便捷的加载速度，不需要长时间等待</p>
                            </div>
                        </li>
                        <li class="rel">
                            <span class="icon abs"><img src="__IMG__l_img-28.png" alt=""/></span>
                            <div>
                                <h3 class="n">超速加载  拒绝等待</h3>
                                <p>便捷的加载速度，不需要长时间等待</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section w-response-04">
            <div class="center-wrap">
				<div class="light_ts">
	                <div class="w-resp-01 mb15 rel">
	                    <img src="__IMG__l_img-11.png" alt=""/>
	                </div>
	                <div class="w-resp-02 mb15 rel">
	                    <p>pc、pad、手机，无论在哪，想怎么看就怎么看</p>
	                    <p>让您的网站活起来！</p>
	                </div>
	                <div class="w-resp-03 mb15 rel">
	                    <img src="__IMG__l_img-13.png" alt=""/>
	                </div>
	                <a href="{$CATEGORYS[20]['url']}" class="w-resp-04 rel"><img src="__IMG__l_img-12.png" alt=""/></a>
	            </div>
            </div>
			<include file="Public/footer" />
        </div>

        <div class="section fp-auto-height" style="height:1px;">
        </div>
    </div>
</block>
