<extend name="Public/base" />
<block name="css">
	<link rel="stylesheet" href="__CSS__style.css" />
	<link rel="stylesheet" href="__CSS__common.css" />
</block>
<block name="js">
	<script src="__JS__jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="__JS__jquery.SuperSlide.2.1.1.js"></script>
	<script src="__JS__jquery.style.js"></script>
</block>
<block name="main">
	<div class="z-bg01" style="padding-top: 196px; padding-bottom: 100px;">
		<section class="container z-mod1 auto">
			<div class="mod1-c mod1-c1 dw_1 tc">
				<a href="{$CATEGORYS[5]['url']}">
					<img src="__IMG__z_tb1.png" class="mb10" />
					<p class="fa fs-14">{$CATEGORYS[5]['english']}</p>
					<p class="fs-22">{$CATEGORYS[5]['title']}</p>
				</a>
			</div>
			<div class="mod1-c mod1-c2 dw_2 tc">
				<a href="{$CATEGORYS[6]['url']}">
					<img src="__IMG__z_tb2.png" class="vm" />
					<span class="dib ml10 vm tl">
						<p class="fa">{$CATEGORYS[6]['english']}</p>
						<p class="fs-22">{$CATEGORYS[6]['title']}</p>
					</span>
				</a>
			</div>
			<div class="mod1-c mod1-c2 dw_3 tc">
				<a href="{$CATEGORYS[7]['url']}">
					<img src="__IMG__z_tb3.png" class="vm" />
					<span class="dib ml10 vm tl">
						<p class="fa">{$CATEGORYS[7]['english']}</p>
						<p class="fs-22">{$CATEGORYS[7]['title']}</p>
					</span>
				</a>
			</div>
			<div class="mod1-c mod1-c1 dw_4 tc">
				<a href="{$CATEGORYS[9]['url']}">
					<img src="__IMG__z_tb4.png" class="mb10" />
					<p class="fa fs-14">{$CATEGORYS[9]['english']}</p>
					<p class="fs-22">{$CATEGORYS[9]['title']}</p>
				</a>
			</div>
			<div class="mod1-c mod1-c3 dw_5 tc">
				<a href="{$CATEGORYS[8]['url']}">
					<img src="__IMG__z_tb5.png" class="vm" />
					<span class="dib ml10 vm tl">
						<p class="fa">{$CATEGORYS[8]['english']}</p>
						<p class="fs-22">{$CATEGORYS[8]['title']}</p>
					</span>
				</a>
			</div>
		</section>
	</div>
	<!--main end-->
	<include file="Public/footer" />
</block>
