@charset "utf-8";
/* CSS Document */
@import 'cssreset.css';

/*common*/
*:focus {outline: none;}

/* display */
.dn { display: none; }
.di { display: inline; }
.db { display: block; }
.dib { display: inline-block; } /* if the element is block level(eg. div, li), using 'inline-any' instead */


.fl{float:left;}
.fr{float:right;}

/* 块状元素水平居中 */
.auto { margin-left: auto; margin-right: auto; }

/* overflow */
.ovh { overflow: hidden; }

/* position */
.rel { position: relative; }
.abs { position: absolute; }

/* font-family */
.fw { font-family: 'Microsoft Yahei'; }

/* font-style */
.n { font-weight: normal; font-style: normal; }
.b { font-weight: bold; }
.i { font-style: italic; }

/* text-align */
.tc { text-align: center; }
.tr { text-align: right; }
.tl { text-align: left; }
.tj { text-align: justify; }

/* 清除浮 动*/
.fix { *zoom:1; }
.fix:after { content:" "; display:block; height:0; clear:both; visibility:hidden; font-size:0;}

/*table*/
table {
    width: 100%;
    border-collapse: collapse;
}

/* margin */
.m0 { margin:0 !important; }
.ml1 { margin-left: 1px; }
.ml2 { margin-left: 2px; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml30 { margin-left: 30px; }

.mr1 { margin-right: 1px; }
.mr2 { margin-right: 2px; }
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mr30 { margin-right: 30px; }

.mt1 { margin-top: 1px; }
.mt2 { margin-top: 2px; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }

.mb1 { margin-bottom: 1px; }
.mb2 { margin-bottom: 2px; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }

/* padding */
.p0 { padding: 0; }
.p1 { padding: 1px; }
.pl1 { padding-left: 1px; }
.pt1 { padding-top: 1px; }
.pr1 { padding-right: 1px; }
.pb1 { padding-bottom: 1px; }

.p2 { padding: 2px; }
.pl2 { padding-left: 2px; }
.pt2 { padding-top: 2px; }
.pr2 { padding-right: 2px; }
.pb2 { padding-bottom: 2px; }

.pl5 { padding-left: 5px; }
.p5 { padding: 5px; }
.pt5 { padding-top: 5px; }
.pr5 { padding-right: 5px; }
.pb5 { padding-bottom: 5px; }

.p10 { padding: 10px; }
.pl10 { padding-left: 10px; }
.pt10 { padding-top: 10px; }
.pr10 { padding-right: 10px; }
.pb10 { padding-bottom: 10px; }

.p15 { padding: 15px; }
.pl15 { padding-left: 15px; }
.pt15 { padding-top: 15px; }
.pr15 { padding-right: 15px; }
.pb15 { padding-bottom: 15px; }

.p20 { padding: 20px; }
.pl20 { padding-left: 20px; }
.pt20 { padding-top: 20px; }
.pr20 { padding-right: 20px; }
.pb20 { padding-bottom: 20px; }

.p30 { padding: 30px; }
.pl30 { padding-left: 30px; }
.pt30 { padding-top: 30px; }
.pr30 { padding-right: 30px; }
.pb30 { padding-bottom: 30px; }

/* vertical-align */
.vm { vertical-align: middle; }
.vtb { vertical-align: text-bottom; }
.vb { vertical-align: bottom; }
.vt { vertical-align: top; }
.vn { vertical-align: -2px; }

.bgnone{background:none !important;}
.bnone{border:none !important;}

body{overflow-x:hidden;}

.wb{width:100%;min-width:1200px;}
.w{width:1200px;margin:0px auto;}

/*header*/
.navw{width:100%; background:url(../images/light_btm1.png);  }
.nav{width:1200px;height:100%;position: relative;}
.nav a{font-family:'fzlt';}
.logo{position: absolute;top:50%;left:0px;margin-top:-38px;
    /*-webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        -o-filter: grayscale(1);
        -ms-filter: grayscale(1);
        filter: grayscale(1);*/
}
/*.logo:hover{
    -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        -ms-filter: grayscale(0);
        filter: grayscale(0);
}*/
.logo2{display:none;position: absolute;top:0px;left:0px;}
.ul{position: absolute;top:50%;right:-20px;height:40px;margin-top:-20px;}
.ul>li>a{font-size:16px;color:#999999; font-family: "微软雅黑";
    -webkit-transition:color .3s ease-in-out;
    -o-transition:color .3s ease-in-out;
    transition:color .3s ease-in-out;
}
.ul>li{padding:0px 20px;height:40px;line-height:40px;}
.ul>li>a.xz{color:#c5a47e;}
.ul>li>a:hover{color:#c5a47e;}
/*footer*/
.footer{background:#2a2a2a;font-family:"微软雅黑";}

.footertop{background:url(../images/hengxian.png) repeat-x bottom;}
.footertop1{padding:25px 0px;}
.footert1{width:373px;margin-left:-2px;background:url(../images/shuxian.png) repeat-y left;height:50px;padding-left:72px;color:#ffffff;font-size:32px;line-height:28px;height:60px;}
.footert1 img{margin-top:10px;margin-right:10px;}

.footert1 span{color:#797979;font-size:14px;display: block;}

.footerbot{padding:25px 0px;}
.footerbot1{width:820px;background:url(../images/shuxian.png) repeat-y right; overflow:hidden;}
.copyRight{height:44px;line-height:44px;color:#fff; background:#1c1c1c;}


.footerb1{width:205px;}
.footerb1abt{color:#ffffff;font-size:18px;display: block;margin-bottom:7px;}
.ul1 li{height:26px;line-height:26px;}
.ul1 li a{display: block;padding-left:15px; background:url(../images/youjian1.png) no-repeat left center;color:#797979;font-size:14px;}
.footerbot2{width:276px;}
.ewmk{height:160px; background:url(../images/juxingk.png) no-repeat center center;}
.ewmkbt{color:#c09e5b;font-size:18px;margin-bottom:15px;}
.ewmknr{color:#c0c0c0;font-size:14px;}
.footertop11{width:1345px;margin-left:-67px;}